---
import { novasummit } from '../../novasummit'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Novatec Summit 2022</title>
  </head>
  <body>
    <h1>Awesome talks of Novatec Summit 2022</h1>
  </body>
</html>
